
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #6c63ff;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding: 0 1rem;
}

.container-center{
    margin: 0 auto;
    max-width: 600px;
    
}

.padding-md{
    padding: 2rem;
}

.link{
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    
}

.link-primary{
    background-color: var(--primary);
    max-width: 100px;
    color: white;
    display: block;
}

.link-secondary{
    border: 1px solid var(--primary);
    max-width: 100px;
    display: block;
    color: var(--primary);
}

.list-non-bullet{
    padding: 0;
    list-style-type: none;
}

.list-item-inline{
    display: inline;
    padding: 0 0.5rem;
}

.navigation{
    background-color: var(--primary);
    border-radius: 0 0 0 1rem;
    padding: 1rem;
}

.nav-brand{
    font-weight: bold;
    color: white;
}

.navigation .link{
    color: white;
}

.link-active{
    font-weight: bold;
}

.nav-pills{
    text-align: right;
}

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero-img{
    max-width: 80%;
    width: 350px;
    margin: auto;
    display: block;
}

.hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.heading-inverted{
    color: var(--primary);
}

.section{
    padding: 2rem;
}

.section h2{
    text-align: center;
}

.section-ow{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary);
    padding: 4rem 2rem;
    border-radius: 0 1rem 0 0 ;
    text-align: center;
    
}

.footer-header{
    color: white;
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
}

